.post-bottom {
  .posted-wrapper {
    display: inline;
    font-size: 12px;

    span {
      font-weight: bold;
    }
  }

  .posted-wrapper:after {
    content: " | ";
  }

  .tag-wrapper {
    font-size: 12px;
    font-weight: bold;
    display: inline;

    .tag-list {
      display: inline;
      list-style: none;
      font-weight: normal;
      font-size: 12px;
      margin-left: 0px;

      li {
        display: inline;
      }

      li:after {
        content: ", ";
      }

      li:last-child:after {
        content: "";
      }
    }
  }
}

