---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="post-bottom">
    <div class="posted-wrapper">
      <span>Posted in</span>
      {{ page.category }}
    </div>
    <div class="tag-wrapper">
      <span>Tagged</span>
      <ul class="tag-list">
        {% for tags in page.tags %}
          <li>{{ tags }}</li>
        {% endfor %}
      </ul>
    </footer>
  </div>

</div>
